</div>
    <div class="footer">
	Copyright©2016 大兵哥 All Rights Reserved
    </div>
    </body>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
</html>